<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="google-site-verification" content="BL3QqWHDjOYpKDc2U0X-rZu6pJctgJEnyHRbHUa7RPA" />
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>KZFR Community Radio | KZFR 90.1 FM CHICO</title>
  
  <link href='http://fonts.googleapis.com/css?family=Arvo|Source+Sans+Pro:300italic,400,400italic,600,600italic|PT+Sans' rel='stylesheet' type='text/css'>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="shortcut icon" href="/theme/51/favicon1.png">
  
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  
<script src="/components/jquery/dist/jquery.min.js?x=1437796891"></script>

<!-- Initialize Creek.fm JS -->
<script src="/js/cfm-head.js?x=1437796891" type="text/javascript"></script>
<script type="text/javascript">

  Creek.signedIn = false;
  Creek.station.id = "kzfr";
  Creek.streamPlayer.flashByDefault = 0;

  //Check for Internet Explorer
  if(window.ActiveXObject || "ActiveXObject" in window){

    //Defalt to Flash for stream player
    Creek.streamPlayer.flashByDefault = 1;

  }
</script>

<script type="text/javascript" src="/packages/magnific-popup/jquery.magnific-popup.min.js"></script>

<script src="/packages/soundmanager/script/soundmanager2-nodebug-jsmin.js?x=1498244286"></script>
<style> #sm2-container {position:absolute; top:-10000px; left:-10000px} </style>
<script src="/js/sm2-settings.js?x=1437796891"></script>
<link rel="stylesheet" type="text/css" href="/packages/soundmanager/demo/bar-ui/css/bar-ui.css?x=1437796891" />
<script src="/js/creek-sm2-bar-ui.js?x=1441826410"></script><link href="/css/creekfm-public.css?x=1500320125" rel="stylesheet" type='text/css'>
<link href="/packages/magnific-popup/magnific-popup.css?x=1437796891" rel="stylesheet" type='text/css'>
<link href="/css/playlist.css?x=1455040699" rel="stylesheet" type='text/css'>

<script src="/js/cfm-single-page.js?x=1441826410"></script>

<!-- Initialize Creek.fm Stream Player -->
<script type="text/javascript">Creek.streamPlayer.streamUrl = 'http://stream-tx3.radioparadise.com/kzfr';</script>
<script type="text/javascript" src="/packages/jplayer/jquery.jplayer.min.js"></script>


<link href="/theme/51/css/css-responsive.css?x=1500136720" rel="stylesheet" type='text/css'>
  <link href="/theme/51/css/css_main.css?x=1499920259" rel="stylesheet" type='text/css'>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35130326-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>

<meta property="og:title" content="KZFR Community Radio | KZFR 90.1 FM CHICO" />
<meta property="og:url" content="http://www.kzfr.org/" />
<meta property="og:image" content="" />



</head>
<body>



<!-- Responsive menu for mobile -->
<div class="nav-corner-button">
  <a href="javascript:"><i class="fa fa-bars"></i></a>
</div>
<div id="navbar-menu" class="cfm-sp-load">
  <a href="/programs" class="programs  ">PROGRAMS</a>
  <a href="/posts" class="new  s">NEWS</a>
  <a href="/events" class="events  ">EVENTS</a>
  <a href="/pages/about" class="info {pages-index|active} ">KZFR info</a>
  <a href="/donate" class="donate {donate-index|active}">DONATE</a>
  <a href="/underwriters" class="underwriters ">Underwriters</a>
</div>

<script type="text/javascript">
  $(function(){
    $('.nav-corner-button').on('click', function(){
      $('#navbar-menu').fadeToggle(0);
    })
    $('#navbar-menu a').on('click', function(){
      $('#navbar-menu').css('display', 'none');
    })
  })
</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=433853109973153";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="header_container">
  <div class="container">
    <div id="header">
      <!--<div id="logo"><a href="/"><img src="/theme/51/images/header/KZFR_25_Year_Logo_1_WEB_Header.png" /></a></div>-->
      <div id="logo-responsive"><a href="/"><img src="/theme/51/images/header/KZFR_Logo_Color_isolated_full_szie.png" /></a></div>
      <div class="people_powered_radio"><img src="/theme/51/images/header/people_powered_radio.png" /></div>
      <div id="navbar" class="cfm-sp-load">
        <a href="/programs" class="programs  ">PROGRAMS</a>
        <a href="/posts" class="new  s">NEWS</a>
        <a href="/events" class="events  ">EVENTS</a>
        <a href="/pages/about" class="info {pages-index|active} ">KZFR info</a>
        <a href="/donate" class="donate {donate-index|active}">DONATE</a>
        <a href="/underwriters" class="underwriters ">Underwriters</a>
      </div>
      <div class="cfm-user-panel user-panel not-signed-in">
    <div class="sign-in">
    <a href="/users/sign-in?return_url=">Sign in</a>
  </div>
  </div>
      
      
      <div id="header-listen">
      
        <!--<a href="/donate"><img src="/theme/51/images/silent_drive_woodcut.png" /></a>-->

                
        <script type="text/javascript">
          Creek.streamPlayer.buttonHtmlPlay = '<i class="fa fa-play"></i> Listen';
          Creek.streamPlayer.buttonHtmlStop = '<i class="fa fa-play"></i> Listening';
        </script>
        
        
        <div class="cfm-stream-player jp-audio">
  <div class="jp-type-single">
    <div class="jp-gui jp-interface jp-controls">
      <a href="javascript:" class="cfm-stream-main-button cfm-stream-play-button">Listen</a>
    </div>
  </div>
</div>
        
        <a href="/listen" class="help"><i class="fa fa-question"></i></a>
        
        <!--
        <div class="stream-error">
          <b>Stream error:</b> Please install the <a href="http://get.adobe.com/flashplayer/">Flash plug-in</a>, upgrade your web browser, or try the Alternate Stream below.
        </div>
        -->
  
      </div>
      
    </div>
  </div>
</div>
<div class="container">
<div id="main" class="cfm-sp-load">
<div id="home-index" class="content_container">


<div id="home_side">

  <div id="side_top">
    <!--<div class="listen"><a href="/listen"><img src="/theme/51/images/listen.png" /></a></div>-->

    <div id="broadcasting_home" class="block-broadcasting">
      <div class="timeslot now">
        <div class="timeslot-title title">ON THE AIR</div>
        <div class="program-container show-container">

          <transition name="fade">
            <div v-if="now && now.title">
              <div class="program cfm-show"><a v-bind:href="'/shows/'+now.short_name" v-html="now.title"></a></div>
              <div class="times">
                <span v-html="now.start"></span>
                <span class="divider"><img src="/theme/51/images/time_arrow1.png"></span>
                <span v-html="now.end"></span>
              </div>
            </div>
          </transition>

          <transition name="fade">
            <div class="current-track" v-if="track.artist" v-html="track.artist + ' - ' + track.title"></div>
          </transition>

          <transition name="fade">
            <div class="tip-show" v-if="now && now.title">
              <a v-on:click="showTipForm = !showTipForm"><i class="fa fa-thumbs-up"></i> Tip This Show</a>
              <div v-show="showTipForm">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="tip-form">
                  <input type="hidden" name="cmd" value="_donations">
                  <input type="hidden" name="business" value="gm@kzfr.org">
                  <input type="hidden" name="lc" value="US">
                  <input type="hidden" name="item_name" v-bind:value="'KZFR Tip for: '+ now.title">
                  <input type="hidden" name="no_note" value="0">
                  <input type="hidden" name="cn" value="Add any special message:">
                  <input type="hidden" name="no_shipping" value="2">
                  <input type="hidden" name="rm" value="1">
                  <input type="hidden" name="return" value="http://kzfr.org">
                  <input type="hidden" name="cancel_return" value="http://kzfr.org">
                  <input type="hidden" name="currency_code" value="USD">
                  <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHosted">
                  <div class="tip-input">$<input name="amount" id="tip-amount" type="text" size="6"></div>
                  <button class="btn" type="submit">Tip</button>
                </form>
              </div>
            </div>
          </transition>
        </div>
      </div>

      <div class="timeslot next">
        <div class="timeslot-title title">UP NEXT</div>
        <transition name="fade">
          <div class="program-container show-container" v-if="next && next.title">
            <div class="program cfm-show"><a v-bind:href="'/shows/'+next.short_name" v-html="next.title"></a></div>
            <div class="times">
              <span v-html="next.start"></span>
              <span class="divider">–</span>
              <span v-html="next.end"></span>
            </div>
          </div>
        </transition>
      </div>
    </div>

    <script type="text/javascript"> 
      $(function(){ 
        var broadcasting_home = new Vue({
          el: '#broadcasting_home',
          data: {
            showTipForm: false,
            now: { 
            },
            next: {
            },
            track: {
            }
          },
          created: function () {
            this.fetchData();
            setInterval(this.fetchData, 10000);
          },
          methods: {
            fetchData: function() {
              var self = this;
              $.get('/api/broadcasting/', function(data, status){
                if (status === 'success') {
                  self.now = { 
                    title: data.now.title, 
                    start: data.now.Airtime.start_nice, 
                    end: data.now.Airtime.end_nice, 
                    short_name: data.now.short_name 
                  };
                  self.next = { 
                    title: data.next.title, 
                    start: data.next.Airtime.start_nice, 
                    end: data.next.Airtime.end_nice, 
                    short_name: data.next.short_name 
                  };
                  if (data.Track !== null || !data.Track) {
                    self.track = {
                      artist: data.Track.artist,
                      title: data.Track.title
                    }
                  } else { 
                    self.track = {
                    };
                  }
                }
              });
            }
          }
        });
      }); 
    </script>
    <div class="schedule"><a href="/programs"><img src="/theme/51/images/schedule.png" /></a></div>
  </div>


  <!--
  <a href="http://kzfr.org/posts/view/734" class="music-survey">
    <div><i class="fa fa-check-square-o"></i>  &nbsp; Take our <b>Music Survey</b></div>
  </a>
  -->

  <div id="broadcasts-container">
    <div id="home_broadcasts" class="block-broadcasts block-">
  <div class="broadcast ">

    
    <div class="info-container">
      <div class="title"><a href="/broadcasts/14115">August 27, 2018</a></div>
      <div class="program cfm-show"><a href="/shows/radioparadise">Radio Paradise</a></div>
      <div class="date">08-27-2018</div>
      <div class="comments"></div>
    </div>

  </div>
  <div class="broadcast ">

    
    <div class="info-container">
      <div class="title"><a href="/broadcasts/14123">August 26, 2018</a></div>
      <div class="program cfm-show"><a href="/shows/the-jro-show">Flipside Radio</a></div>
      <div class="date">08-26-2018</div>
      <div class="comments"></div>
    </div>

  </div>
  <div class="broadcast ">

    
    <div class="info-container">
      <div class="title"><a href="/broadcasts/14122">August 26, 2018</a></div>
      <div class="program cfm-show"><a href="/shows/psuedonymous">Psuedonymous</a></div>
      <div class="date">08-26-2018</div>
      <div class="comments"></div>
    </div>

  </div>
  <div class="broadcast ">

    
    <div class="info-container">
      <div class="title"><a href="/broadcasts/14121">August 26, 2018</a></div>
      <div class="program cfm-show"><a href="/shows/feral">Feral Radio</a></div>
      <div class="date">08-26-2018</div>
      <div class="comments"></div>
    </div>

  </div>
</div>

  </div>
  
  
  
  <!-- Below are the banners for the left side of the homepage -->
  
  <div id="side_lower">
    
    <!-- <div class="generic_banner"><a href="/path-on-website" ><img src="/theme/51/images/filename_of_image.png" /></a></div> -->
    
    
    <div class="more_shows"><a href="/broadcasts" ><img src="/theme/51/images/more_shows.png" /></a></div>
    

    <div class="generic_banner"><a href="https://go.newsreview.com/best-of-chico/#history" target="_blank"><img src="/theme/51/images/Web Tiles/Best_of_CNR_2017_250x375_WEB.png" /></a></div>
    <div class="generic_banner"><a href="https://creekfm-kzfr.s3.amazonaws.com/file/KZFR_Schedule_Mailer_Fall_2017_-_Front.pdf" target="_blank"><img src="/theme/51/images/Web Tiles/Download_the_Schedule_icon_250_x_191.png" /></a></div>
    <div class="get_the_app"><a href="/info/apps" target="_blank"><img src="/theme/51/images/get_the_app_250x200.jpg" /></a></div>
    <div class="generic_banner"><a href="https://smile.amazon.com/" target="_blank"><img src="/theme/51/images/Web Tiles/Amazon_Smile_img_for_website__v2.jpg" /></a></div>
    <div class="generic_banner"><a href="http://worldfest.net/" target="_blank"><img src="/theme/51/images/Web Tiles/CWF_LOGO2_250px_wide.png" /></a></div>
    <div class="generic_banner"><a href="http://www.sierranevada.com/" target="_blank"><img src="/theme/51/images/Web Tiles/paleale2015_banner-generic-ot_250x150.png" /></a></div>
    <div class="generic_banner"><a href="http://printedimagechico.com/" target="_blank"><img src="/theme/51/images/Web Tiles/Printed_Image_Logo_250x250.png" /></a></div>
    <div class="generic_banner"><a href="http://www.identity-international.com/" target="_blank"><img src="/theme/51/images/Web Tiles/ID_Design___Web.jpg" /></a></div>
    <div class="generic_banner"><a href="http://www.downtownchico.com/" target="_blank"><img src="/theme/51/images/DCBA_Logo_WEB.png" /></a></div>
    <div class="generic_banner"><a href="http://lotusguide.com/" target="_blank"><img src="/theme/51/images/Web Tiles/LotusGuide_logo_375x250.png" /></a></div>
    <div class="generic_banner"><a href="https://creekfm-kzfr.s3.amazonaws.com/file/KZFR_Chico_Local_Content_and_Services_Report_2017.pdf" target="_blank"><img src="/theme/51/images/Web Tiles/Local_Content_and_Services_report_2017.png" /></a></div>
    
   

    <div class="junk_car"><a href="/posts/view/377" ><img src="/theme/51/images/Web Tiles/donate_car.png" /></a></div>

    
    <div class="thank_you_underwriters"><a href="/underwriters" ><img src="/theme/51/images/underwriters.png" /></a></div>
    
    <div id="home_underwriters" class="block-supporters">
<div class="supporter">


  <div class="content">

    <div class="title"><a href="//mountainmikes.intouchposonline.com/start_order/?sid=19&orderType=Delivery">Mt. Mike's Pizza</a></div>
        <div class="website"><a href="//mountainmikes.intouchposonline.com/start_order/?sid=19&orderType=Delivery">mountainmikes.intouchposonline.com/start_order/?sid=19&orderType=Delivery</a></div>
  </div>

</div>
<div class="supporter">


  <div class="content">

    <div class="title"><a href="//www.csuchico.edu/upe/performance/performances/chico-world-music-festival.php">Chico Perf. / Chico World Music</a></div>
        <div class="website"><a href="//www.csuchico.edu/upe/performance/performances/chico-world-music-festival.php">www.csuchico.edu/upe/performance/performances/chico-world-music-festival.php</a></div>
  </div>

</div>
<div class="supporter">


  <div class="content">

    <div class="title"><a href="//dahlmeier.com">Dahlmeier Insurance</a></div>
        <div class="website"><a href="//dahlmeier.com">dahlmeier.com</a></div>
  </div>

</div>
<div class="supporter">


  <div class="content">

    <div class="title"><a href="//www.uuchico.org/">Unitarian Universalist Fellowship</a></div>
        <div class="website"><a href="//www.uuchico.org/">www.uuchico.org/</a></div>
  </div>

</div>
<div class="supporter">


  <div class="content">

    <div class="title"><a href="//www.gonnsentreecare.com/">Gonnsen Tree Care</a></div>
        <div class="website"><a href="//www.gonnsentreecare.com/">www.gonnsentreecare.com/</a></div>
  </div>

</div>
<div class="supporter">


  <div class="content">

    <div class="title"><a href="//ChicoPaperCompany.com">Chico Paper Company</a></div>
        <div class="website"><a href="//ChicoPaperCompany.com">ChicoPaperCompany.com</a></div>
  </div>

</div>
<div class="supporter">


  <div class="content">

    <div class="title"><a href="//www.facebook.com/ralloswest/?fref=ts">Rallo's West</a></div>
        <div class="website"><a href="//www.facebook.com/ralloswest/?fref=ts">www.facebook.com/ralloswest/?fref=ts</a></div>
  </div>

</div>
<div class="supporter">


  <div class="content">

    <div class="title"><a href="//www.theelderberryapothecary.org/">The Elderberry Apothecary</a></div>
        <div class="website"><a href="//www.theelderberryapothecary.org/">www.theelderberryapothecary.org/</a></div>
  </div>

</div>
</div> <!-- this is a "block" that contains the underwriters -->
    
    <!--<div class="kzfr_logo_banner"><a href="/pages/history" ><img src="/theme/51/images/kzfr_logo_221x131.png" /></a></div>-->
  
  </div>
  
  
  
</div>
<div id="home_main">
  <div id="home_news_top" class="block-posts block-Fa6hdy">

<div class="post category-kzfr ">

    <div class="image-container">
    <a class="image" href="/posts/1587" style="display:block;background:url('https://creekfm-kzfr.s3.amazonaws.com/image/large/Best_of_Chico_2018.png') center center no-repeat; background-size:cover" alt="Vote KZFR Best of Chico 2018">&nbsp;</a>  </div>
  
  <div class="content">

    <div class="title"><a href="/posts/1587">Vote KZFR Best of Chico 2018</a></div>

    
    
    <div class="excerpt">
      Everyone here would be honored if you voted your community radio station KZFR Best of Chico 2018! Voting ends Sept 12th      <div class="read-more"><a href="/posts/1587">Read more</a></div>
    </div>

    
    
    <div class="info">
                      </div>

    
  </div>

</div>
</div>

  <div class="news_row_two">
  <div id="home_news_left" class="block-posts block-af9oh23">

<div class="post ">

    <div class="image-container">
    <a class="image" href="/events/765" style="display:block;background:url('https://creekfm-kzfr.s3.amazonaws.com/image/original/Hubbard_-Press-Photo-6518_2.jpg') center center no-repeat; background-size:cover" alt="Hubbard - Sept 21st">&nbsp;</a>  </div>
  
  <div class="content">

    <div class="title"><a href="/events/765">Hubbard - Sept 21st</a></div>

    
    
    <div class="excerpt">
      Ray, Kyle, and his son, Lucas will make you feel the deep Texas groove all night.      <div class="read-more"><a href="/events/765">Read more</a></div>
    </div>

    
    
    <div class="info">
                      </div>

    
  </div>

</div>
</div>

  <div id="home_news_right" class="block-posts block-a8fiowh">

<div class="post ">

    <div class="image-container">
    <a class="image" href="/events/770" style="display:block;background:url('https://creekfm-kzfr.s3.amazonaws.com/image/original/TOC_Sign.jpg') center center no-repeat; background-size:cover" alt="Touch of Chico - Sept 30th">&nbsp;</a>  </div>
  
  <div class="content">

    <div class="title"><a href="/events/770">Touch of Chico - Sept 30th</a></div>

    
    
    <div class="excerpt">
      Massage, Live Music & Free Skill Share all under the beautiful trees of Bidwell Park!      <div class="read-more"><a href="/events/770">Read more</a></div>
    </div>

    
    
    <div class="info">
                      </div>

    
  </div>

</div>
</div>

  </div>
  <div class="home_row_two">
    <div class="column_one">
      <div class="fb-like-box" data-href="http://www.facebook.com/kzfr90.1fm" data-width="330" data-height="396" data-show-faces="false" data-border-color="#ffffff" data-stream="true" data-header="false"></div>
      <div class="posts_lower">
        <div id="home_posts" class="block-posts block-i9fh3w">

<div class="post category-fundraiser category-humane-society category-music ">

    <div class="image-container">
  <a href="/posts/1585"><img src="https://creekfm-kzfr.s3.amazonaws.com/image/small/MoonDance_crop.jpg" alt="Moon Dance Music Festival" /></a>    </div>
  
  <div class="content">

    <div class="title"><a href="/posts/1585">Moon Dance Music Festival</a></div>

    
    
    <div class="excerpt">
      Benefit for Chico Housing Action Team - Sunday, August 26th, 5-9pm at Riparia Farm      <div class="read-more"><a href="/posts/1585">Read more</a></div>
    </div>

    
    
    <div class="info">
      <div class="user"><a href="/profiles/lmckean" class="user-link">Leah McKean</a></div>      <div class="date">11:47am, 8-15-2018</div>          </div>

    
  </div>

</div>
<div class="post category-agendas ">

  
  <div class="content">

    <div class="title"><a href="/posts/1583">August 14, 2018 Board of Director&#039;s Meeting Agenda</a></div>

    
    
    <div class="excerpt">
            <div class="read-more"><a href="/posts/1583">Read more</a></div>
    </div>

    
    
    <div class="info">
      <div class="user"><a href="/profiles/Tom" class="user-link">Tom Leonardi</a></div>      <div class="date">3:26pm, 8-13-2018</div>          </div>

    
  </div>

</div>
<div class="post ">

    <div class="image-container">
  <a href="/posts/1581"><img src="https://creekfm-kzfr.s3.amazonaws.com/image/small/GD_Auction_poster_crop.jpg" alt="Donley Auctions Keeps on “Truckin” with Grateful Dead Auction" /></a>    </div>
  
  <div class="content">

    <div class="title"><a href="/posts/1581">Donley Auctions Keeps on “Truckin” with Grateful Dead Auction</a></div>

    
    
    <div class="excerpt">
      Priceless Grateful Dead memorabilia auction on Saturday, September 8th at 10am...      <div class="read-more"><a href="/posts/1581">Read more</a></div>
    </div>

    
    
    <div class="info">
      <div class="user"><a href="/profiles/lmckean" class="user-link">Leah McKean</a></div>      <div class="date">12:52pm, 8-8-2018</div>          </div>

    
  </div>

</div>
<div class="post ">

    <div class="image-container">
  <a href="/posts/1573"><img src="https://creekfm-kzfr.s3.amazonaws.com/image/small/Carr_Fire_Fund_2018_NVCF_2.png" alt="Carr Fire: Our Neighbors Need Our Support" /></a>    </div>
  
  <div class="content">

    <div class="title"><a href="/posts/1573">Carr Fire: Our Neighbors Need Our Support</a></div>

    
    
    <div class="excerpt">
      2 responders have been killed, more than 40,000 acres have burned! Funds are being collected for short, long-term relief efforts...      <div class="read-more"><a href="/posts/1573">Read more</a></div>
    </div>

    
    
    <div class="info">
      <div class="user"><a href="/profiles/lmckean" class="user-link">Leah McKean</a></div>      <div class="date">12:30pm, 7-27-2018</div>          </div>

    
  </div>

</div>
<div class="post category-chlidren category-fundraiser ">

    <div class="image-container">
  <a href="/posts/1571"><img src="https://creekfm-kzfr.s3.amazonaws.com/image/small/Mia_and_Nyah_6_years_.jpg" alt="Paradise Teen Sisters Team Up for Lifesaving Organ Transplant" /></a>    </div>
  
  <div class="content">

    <div class="title"><a href="/posts/1571">Paradise Teen Sisters Team Up for Lifesaving Organ Transplant</a></div>

    
    
    <div class="excerpt">
      Battling a rare and life-threatening disease, little sister Mia was in critical need of a new kidney. Big sister Nyah bravely volunteered to donate one of hers.      <div class="read-more"><a href="/posts/1571">Read more</a></div>
    </div>

    
    
    <div class="info">
      <div class="user"><a href="/profiles/lmckean" class="user-link">Leah McKean</a></div>      <div class="date">3:59pm, 7-26-2018</div>      <div class="comments"></div>    </div>

    
  </div>

</div>
<div class="post ">

  
  <div class="content">

    <div class="title"><a href="/posts/1569">Time Change for Monthly Orientations</a></div>

    
    
    <div class="excerpt">
            <div class="read-more"><a href="/posts/1569">Read more</a></div>
    </div>

    
    
    <div class="info">
      <div class="user"><a href="/profiles/Grant" class="user-link">Grant Parks</a></div>      <div class="date">1:52pm, 7-25-2018</div>      <div class="comments"></div>    </div>

    
  </div>

</div>
<div class="post ">

    <div class="image-container">
  <a href="/posts/1567"><img src="https://creekfm-kzfr.s3.amazonaws.com/image/small/Stonewall_PRIDE_2018_2.jpg" alt="PRIDE Weekend August 2018" /></a>    </div>
  
  <div class="content">

    <div class="title"><a href="/posts/1567">PRIDE Weekend August 2018</a></div>

    
    
    <div class="excerpt">
      KZFR is a proud sponsor of this important Stonewall event. We are united in our diversity.      <div class="read-more"><a href="/posts/1567">Read more</a></div>
    </div>

    
    
    <div class="info">
      <div class="user"><a href="/profiles/lmckean" class="user-link">Leah McKean</a></div>      <div class="date">2:08pm, 7-20-2018</div>          </div>

    
  </div>

</div>
</div>

        <div class="more_news"><a href="/posts">More News</a></div>
      </div>
    </div>
    <div class="column_two">
      <div class="events">
        <div class="heading">
          <a href="/events" ><img src="/theme/51/images/events.png" /></a>
        </div>
        <div id="home_events" class="block_events block-">

<div class="event" data-id="777">

  
  <div class="info-container">
    <div class="title"><a href="/events/777">SNB & KZFR present Joe Craven & the Sometimers</a></div>
    <div class="location">SNB Big Room</div>
    <div class="date">6:00pm, 9-5-2018</div>
    <div class="comments"></div>
  </div>

</div>
<div class="event" data-id="765">

  
  <div class="info-container">
    <div class="title"><a href="/events/765">KZFR Presents Ray Wylie Hubbard</a></div>
    <div class="location">Chico Women's Club</div>
    <div class="date">6:30pm, 9-21-2018</div>
    <div class="comments"></div>
  </div>

</div>
<div class="event" data-id="770">

  
  <div class="info-container">
    <div class="title"><a href="/events/770">17th Annual Touch of Chico</a></div>
    <div class="location">Chico Creek Nature Center</div>
    <div class="date">12:00pm, 9-30-2018</div>
    <div class="comments"></div>
  </div>

</div>
<div class="event" data-id="773">

  
  <div class="info-container">
    <div class="title"><a href="/events/773">KZFR presents Will Durst</a></div>
    <div class="location">Chico Women's Club</div>
    <div class="date">6:30pm, 10-14-2018</div>
    <div class="comments"></div>
  </div>

</div>
<div class="event" data-id="774">

  
  <div class="info-container">
    <div class="title"><a href="/events/774">KZFR presents John Craigie</a></div>
    <div class="location">Chico Women's Club</div>
    <div class="date">6:30pm, 11-8-2018</div>
    <div class="comments"></div>
  </div>

</div>
<div class="event" data-id="775">

  
  <div class="info-container">
    <div class="title"><a href="/events/775">KZFR presents Darrell Scott</a></div>
    <div class="location">Chico Women's Club</div>
    <div class="date">6:30pm, 11-13-2018</div>
    <div class="comments"></div>
  </div>

</div>

</div>
        <div class="more_events"><a href="/events">More Events</a></div>
        
  <a class="twitter-timeline" data-height="600" data-theme="dark" data-link-color="#19CF86" href="https://twitter.com/kzfr901FM?ref_src=twsrc%5Etfw">Tweets by kzfr901FM</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
   
    <!-- Begin Constant Contact Active Forms -->
<script> var _ctct_m = "0c190136ef70d0ce6af89a70a7dc50b2"; </script>
<script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
<!-- End Constant Contact Active Forms -->    
      <!-- Begin Constant Contact Inline Form Code -->
<div class="ctct-inline-form" data-form-id="ce86c08f-5077-4f26-b435-ec46fbe8d7d3"></div>
<!-- End Constant Contact Inline Form Code -->
        
        <div data-cswidget="8468" > </div>
    <script type="text/javascript" async defer src="//portal.CitySpark.com/js/widget.min.js" > </script>
      </div>
      
  </div>
</div>
</div>
<div id="footer">
<div class="inner">
  <div class="title">KZFR 90.1 FM <span>People Powered Radio</span> Chico, CA</div>
  <div class="contact">
    <span class="phone-number"><b>STUDIO</b> 530-895-0131</span>
    <span class="phone-number"><b>OFFICE</b> 530-895-0706</span>
    <span class="phone-number"><b>FAX</b> 530-895-0775</span>
    <span>341 Broadway Suite 411, Chico, CA, 95928</span>
  </div>
  <div class="links">
    <span><a href="/">Home</a></span>
    <span><a href="/listen">Listen</a></span>
    <span><a href="/programlist">Programs</a>/<a href="/posts">News</a>/<a href="/events">Events</a></span>
    <span>
      <a href="/pages/about">About</a>
      <a href="/pages/volunteer">Volunteer</a>
      <a href="/pages/underwrite">Underwrite</a>
      <a href="/pages/donate">Donate</a>
      <a href="/pages/contact">Contact</a>
    </span>
    <a href="https://www.creek.fm"><img style="height:18px;width:18px;opacity:0.20; margin:4px 0 -4px 0;" src="http://cdn.creek.fm/icons/creek1-36.png" /></a>
    <a href="http://www.facebook.com/kzfr90.1fm/" target="_blank"><img  style="height:18px;width:18px;opacity:0.20; margin:4px 0 -4px 0;" src="https://creekfm-kzfr.s3.amazonaws.com/image/medium/facebook_logo.png" /></a>
    <a href="http://www.instagram.com/kzfr90.1fm/" target="_blank"><img  style="height:22px;width:22px;opacity:0.20; margin:4px 0 -4px 0;" src="https://creekfm-kzfr.s3.amazonaws.com/image/medium/instagram_logo.png" /></a>
    <a href="https://twitter.com/kzfr" target="_blank"><img  style="height:22px;width:22px;opacity:0.20; margin:4px 0 -4px 0;" src="https://creekfm-kzfr.s3.amazonaws.com/image/small/twitter_logo_isolated.png" /></a>
    <a href="https://kzfr.org" target="_blank"><img  style="height:22px;width:22px;opacity:0.20; margin:4px 0 -4px 0;" src="https://creekfm-kzfr.s3.amazonaws.com/image/medium/snap_chat_logo_isloated.png" /></a>
  </div>
    <div class="links">
    </span> <a href="http://kzfr.org/shows/democracynow" target="_blank"><img  style="height:54px;width:100px;opacity:0.70; margin:4px 0 -4px 0;" src="https://creekfm-kzfr.s3.amazonaws.com/image/original/democracy_Now_logo.png" /></a><a href="http://www.brownpapertickets.com/profile/185943" target="_blank"><img style="height:46px;width:91px;opacity:0.70; margin:4px 0 -4px 0;" src="https://creekfm-kzfr.s3.amazonaws.com/image/medium/BPT_buy_tickets_large_2_.png"/></a></div>
</div>
   <font color= #FFFFF0>We Do Not Share Any Donor's Personal Data or Information With Anyone. Annual Financial Reports can be found</font> <a href="http://kzfr.org/pages/publicdocs">Here</a></p>'
   <script type="text/javascript" src="https://sealserver.trustwave.com/seal.js?code=7dcf8909d7c44dc19b9450feaad33b57"></script>
</div>

</div> <!--close main -->

<div class="ie-margin-bottom-fix"> </div>

</div> <!--close container-->


<script type="text/javascript">
$(function(){
  $(window).bind("load", function() {
    $('.hide_until_load').removeClass('hide_until_load');
  });
});
</script>

<div id="cfm-stream-jp" class="jp-jplayer"></div>
<script type="text/javascript" src="/js/cfm-stream.js?x=1437796891"></script>
<!-- <script type="text/javascript" src="/js/cfm-stream-preroll.js?x=1437796891"></script> -->

<script type="text/javascript">

/* Activate the image gallery */
$(function(){
  $('.image-popup-vertical-fit').magnificPopup({
    type: 'image'
    // other options
  });
});

</script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '', '');
  ga('send', 'pageview');

</script>





<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=8310904; 
var sc_invisible=1; 
var sc_security="6e419809"; 
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="joomla stats"
href="http://statcounter.com/joomla/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/8310904/0/6e419809/1/"
alt="joomla stats"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

</body>
</html>